@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');
@import url(toggleswitch.css);

*{
    margin: 0 ;
    font-family: 'Mulish', sans-serif;
}

.poster{
width: 10em;
border-radius: 1em;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
.nowshowingmovies{
    display: flex;
    overflow-x: scroll;
    background: transparent;
}
.popularmovies{
display: flex;
}
.nowShowing{
    margin: 1em;
}


.nowshowingheadline{
    display: flex;
    justify-content: space-between;
  margin: 1em;
}

.popularheadline{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}


.poster--popular{
    width: 10em;
    border-radius: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
    }

    .imdb-star{
color: #FFC319;    }

.genre__tag{
    margin-right: 0.2em;
    margin-bottom: 0.5em;
    padding: 0.2em;
    background-color: #DBE3FF;
    color: #88A4E8;
    display: inline-block;
    border-radius: 100px;
    text-transform: capitalize;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    margin-top: 2em;
}
.header h2{
   margin-left: 6em;
}

.footerwrapper{
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100%;
    background-color: white;
}

.popularmovie__text{
    margin-left: 1em;
}
.popularmovie__text p{
margin-bottom: 1em;
margin-top: 1em;
}

button{
    border: 1px solid #AAA9B1;
    border-radius: 100px;
}
.footerwrapper{
    text-align: center;
    font-size: 2em;
}
.footerwrapper i{
 margin: 0.5em;   
}