@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');


*{
    margin: 0 ;
    font-family: 'Mulish', sans-serif;
}

.poster{
width: 10em;
border-radius: 1em;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
.nowshowingmovies{
    display: flex;
    overflow-x: scroll;
    background: transparent;
}
.popularmovies{
display: flex;
gap: 1em;
}
.nowShowing{
    margin: 1em;
}


.nowshowingheadline{
    display: flex;
    justify-content: space-between;
}

.popularheadline{
    display: flex;
    justify-content: space-between;
}


.poster--popular{
    width: 10em;
    border-radius: 1em;
    }

    .imdb-star{
color: #FFC319;    }

.genre__tag{
    margin-right: 0.2em;
    margin-bottom: 0.5em;
    padding: 0.2em;
    background-color: #DBE3FF;
    color: #88A4E8;
    display: inline-block;
    border-radius: 100px;
    text-transform: capitalize;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}