*{
    margin: 0 ;
    
}

.poster{
width: 10em;
border-radius: 1em;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
.nowshowingmovies{
    display: flex;
    overflow-x: scroll;
    background: transparent;
}
.popularmovies{
display: flex;
margin: 1em;
}
.nowShowing{
    margin: 1em;
}


.nowshowingheadline{
    display: flex;
    justify-content: space-between;
}

.popularheadline{
    display: flex;
    justify-content: space-between;
}

.popularmovie__text{
    margin: 1em;
}

.poster--popular{
    width: 10em;
    border-radius: 1em;
    }

    .imdb-star{
color: #FFC319;    }

