body{
    background-color: rgb(42, 42, 42);
    color: rgb(184, 184, 184);
}
.darkBtn{
    color: rgb(42, 42, 42);
    background-color: rgb(184, 184, 184);
    border: none;
}

.footer{
    background-color: rgb(42, 42, 42);
    color: rgb(184, 184, 184); 
}
.detailtextarea{      
    background-color: rgb(42, 42, 42);
    color: rgb(184, 184, 184); 
        }

        button{
            border: 1px solid #AAA9B1;
            border-radius: 100px;
            background-color:  rgb(42, 42, 42);
            color: rgb(184, 184, 184); 
        }