body{
    background-color: white;
    color: black;
}

.lightBtn{
    background-color: black;
    color: white;
    border: none;
}
button{
    border: 1px solid #AAA9B1;
    border-radius: 100px;
    background-color: white;
}